@use 'variables' as vars;

.settings-input {
  width: 100%;
  box-sizing: border-box;
  padding: vars.$space-2 10px;
  @include vars.control-base;

  &::placeholder {
    color: vars.$text-disabled;
  }

  &--valid {
    border-color: vars.$color-primary;
  }

  &--invalid {
    border-color: vars.$color-error;
  }
}
